# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Verification details
/src/main/resources/youtube.properties
/src/main/resources/credentials.properties
/src/main/resources/userAgent.properties
/target/classes/credentials.properties
/target/classes/userAgent.properties
/target/classes/youtube.properties
